.footer {
    background-color: rgb(103, 225, 103); 
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author {
    font-weight: bold;
    color: #333; 
    margin-right: 5px; 
    display: inline-flex; 
    align-items: center; 
}

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    color: #333; 
    margin-left: 5px; 
    margin-right: 0; 
    transition: color 0.3s ease;
    display: inline-flex; 
    align-items: center; 
}

.social-icons a:hover {
    color: #007bff; 
}
